Repository sgarretson/faevision-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel, @maya-rodriguez, @david-chen, @sarah-chen, @marcus-rodriguez, @taylor-morgan, @jordan-kim, @alex-johnson

.github/CODEOWNERS:

# FAEVision Code Owners

# Global owners (all files)
* @alex-thompson @jordan-lee

# Expert-specific ownership

# Database and Prisma
prisma/ @morgan-smith
src/lib/prisma.ts @morgan-smith
*.prisma @morgan-smith

# Authentication and security
src/lib/auth.ts @alex-thompson @jordan-lee
src/lib/auth-utils.ts @alex-thompson
src/middleware.ts @alex-thompson
src/app/api/auth/ @alex-thompson

# AI features and integration
src/lib/ai/ @priya-patel @jordan-lee
src/components/ai/ @priya-patel @jordan-lee

# UI and design components
src/components/ui/ @maya-rodriguez @david-chen
src/app/globals.css @david-chen @maya-rodriguez
tailwind.config.ts @david-chen

# Executive dashboard and interfaces
src/app/dashboard/ @sarah-chen @marcus-rodriguez
src/components/dashboard/ @sarah-chen @marcus-rodriguez

# Infrastructure and deployment
.github/ @taylor-morgan @jordan-kim
vercel.json @jordan-kim
.env.example @jordan-kim
dockerfile @jordan-kim

# Documentation
docs/ @jordan-lee @alex-johnson
*.md @jordan-lee

# Linear integration
.cursor/ @alex-johnson @jordan-lee
linear.json @alex-johnson

fix: Correct hotspot UI workflow and navigation
  src/components/hotspots/hotspot-card.tsx
Owners: @alex-thompson, @jordan-lee

feat(executive-collaboration): implement comprehensive idea collaboration and navigation optimization
  package-lock.json
  package.json
  src/app/ideas/[id]/page.tsx
  src/app/ideas/create/from-inputs/page.tsx
  src/app/inputs/page.tsx
  src/components/ideas/idea-approval.tsx
  src/components/ideas/idea-voting.tsx
  src/components/inputs/inputs-bulk-selection.tsx
  src/components/layout/navigation.tsx
  src/components/ui/checkbox.tsx
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

trigger: force Vercel preview deployment
  .vercel-deploy-trigger.md
Owners: @jordan-lee

fix(ideas): add Suspense boundary for useSearchParams in ideas creation page
  src/app/ideas/create/from-inputs/page.tsx
Owners: @alex-thompson, @jordan-lee

fix(runtime): resolve comment system and solutions page runtime errors
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/ideas/create/from-inputs/page.tsx
  src/app/solutions/page.tsx
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/query_engine_bg.wasm
  src/generated/prisma/wasm.js
Owners: @alex-thompson, @jordan-lee, @morgan-smith

fix(comments): resolve Prisma comment creation error - createdById to createdBy
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/solutions/page.tsx
Owners: @alex-thompson, @jordan-lee

feat: Enhanced Strategic Input Cards with Executive-Optimized Design
  src/app/api/inputs/route.ts
  src/app/inputs/page.tsx
  src/components/inputs/inputs-bulk-selection.tsx
Owners: @alex-thompson, @jordan-lee

feat: Enhanced Hotspot Cards with Executive Clustering Intelligence
  src/app/api/hotspots/[id]/route.ts
  src/app/api/hotspots/route.ts
  src/app/hotspots/[id]/page.tsx
  src/app/inputs/page.tsx
  src/components/hotspots/cluster-analysis-header.tsx
  src/components/hotspots/hotspot-card.tsx
  src/components/hotspots/signal-selection-grid.tsx
  src/components/inputs/inputs-bulk-selection.tsx
Owners: @alex-thompson, @jordan-lee

fix: Hotspot Layout Boundaries & Inappropriate Actions
  src/app/api/hotspots/[id]/route.ts
  src/app/api/hotspots/route.ts
  src/app/hotspots/[id]/page.tsx
  src/components/hotspots/cluster-analysis-header.tsx
  src/components/hotspots/hotspot-card.tsx
  src/components/hotspots/signal-selection-grid.tsx
Owners: @alex-thompson, @jordan-lee

fix: Critical Signal Schema Field Mismatch - 'type' Field
  src/app/api/inputs/route.ts
  src/components/hotspots/hotspot-card.tsx
  src/components/hotspots/signal-selection-grid.tsx
Owners: @alex-thompson, @jordan-lee

fix: Critical Voting API & Solution Details - Multi-Schema Support
  src/app/api/inputs/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/api/votes/route.ts
  src/app/solutions/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

feat: Enhanced Hotspot Intelligence Phase 1 (FAE-100-FAE-102)
  .gitignore
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/api/hotspots/[id]/analyze/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/hotspots/[id]/page.tsx
  src/app/solutions/[id]/page.tsx
  src/components/hotspots/rca-breakdown-visualization.tsx
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
  src/lib/ai/signal-processing.ts
Owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel

fix: Critical Database Schema Migration for Preview Environment
  prisma/migrations/20250917040902_add_v2_schema_enhancements_preview/migration.sql
  prisma/migrations/20250917041039_ai_enhancement/migration.sql
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/query_engine_bg.wasm
  src/generated/prisma/wasm.js
Owners: @morgan-smith

fix: Resolve Vercel dynamic server usage errors for auth-enabled API routes
  src/app/api/monitoring/client-metrics/route.ts
  src/app/api/monitoring/executive-performance/route.ts
  src/app/api/signals/[id]/ai-insights/[insightId]/override/route.ts
  src/app/api/signals/[id]/ai-insights/route.ts
  src/app/api/signals/[id]/generate-features/route.ts
  src/app/api/signals/[id]/generate-tags/route.ts
  src/app/api/signals/batch-tag-generation/route.ts
  src/app/api/signals/clustering/generate/route.ts
  src/app/api/signals/clustering/status/route.ts
  src/app/api/solutions/from-cluster/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Resolve database schema mismatch causing site failures
  prisma/migrations/20250917165000_add_clustering_features/migration.sql
  scripts/apply-clustering-migration.js
  src/app/api/dashboard/route.ts
  src/app/api/inputs/route.ts
  src/app/api/signals/clustering/generate/route.ts
Owners: @morgan-smith, @alex-thompson, @jordan-lee

fix: Resolve AIAnalysisAudit schema validation and clustering features
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Initialize session variable to resolve TypeScript build error
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

feat: Add emergency schema fix API and enhanced tagging checker
  scripts/check-enhanced-tagging-status.ts
  src/app/api/admin/apply-schema-fix/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Make clustering API resilient to missing database columns
  scripts/check-enhanced-tagging-status.ts
  src/app/api/admin/apply-schema-fix/route.ts
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Remove duplicate validateClusteringFeatures import causing build failure
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Comprehensive database schema resilience for clustering API
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

style: Apply Prettier formatting to clustering route
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Generate proper ClusteringFeatures structure for hybrid clustering
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Resolve clustering engine interface mismatch
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Resolve TypeScript strict mode error with explicit type casting
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: Resolve semantic similarity clustering error
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix: clustering API now handles signals without pre-generated features
  scripts/apply-clustering-schema-fix.ts
  scripts/check-signals-status.ts
  src/app/api/signals/clustering/generate/route.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
Owners: @alex-thompson, @jordan-lee, @morgan-smith

🔧 Fix: Make clustering API resilient to missing schema columns
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 Fix: Add missing 'summary' field to Hotspot clustering save operations
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 Fix: Replace signalIds with proper signals relationship in Hotspot model
  docs/seeding/CSV_IMPORT_GUIDE.md
  docs/seeding/signal-import-template.csv
  docs/seeding/signal-simple-template.csv
  scripts/import-csv-signals.ts
  src/app/api/signals/clustering/generate/route.ts
Owners: @jordan-lee, @alex-johnson, @alex-thompson

🔧 Fix: Resolve frontend TypeError for undefined array.slice() operations
  src/app/api/solutions/from-cluster/route.ts
  src/components/hotspots/cluster-analysis-header.tsx
  src/components/hotspots/hotspot-card.tsx
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔧 Fix: Generate clustering results from existing hotspot data for frontend display
  scripts/check-clustering-status.js
  scripts/check-clustering-status.ts
  scripts/simple-hotspot-check.js
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 Debug: Add comprehensive logging to hotspot dashboard loading
  scripts/test-clustering-api.js
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔧 Fix: Remove React Suspense wrapper causing infinite loading skeleton
  src/app/hotspots/page.tsx
Owners: @alex-thompson, @jordan-lee

🔧 Debug: Enhanced logging to trace component rendering and state
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔧 Fix: Correct clustering API response structure to match frontend interface
  scripts/debug-clustering-api-response.js
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 Debug: Enhanced logging to identify React state management issue
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔧 CRITICAL FIX: Map hybrid clustering API response to frontend interface
  scripts/test-bypass-loading.patch
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🚨 EMERGENCY FIX: React infinite re-render loop + accessibility
  src/components/auth/login-form.tsx
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🚨 REACT EXPERT FIX: Loading state stuck issue resolved
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee
