Repository sgarretson/faevision-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel, @maya-rodriguez, @david-chen, @sarah-chen, @marcus-rodriguez, @taylor-morgan, @jordan-kim, @alex-johnson

feat(epic-fae-93): comprehensive A&E business schema enhancement
  package.json
  prisma/schema.prisma
  prisma/seed-comprehensive.ts
  scripts/enhance-seed-data.js
  src/app/api/dashboard/route.ts
  src/app/dashboard/page.tsx
  src/generated/prisma/client.d.ts
  src/generated/prisma/client.js
  src/generated/prisma/default.d.ts
  src/generated/prisma/default.js
  src/generated/prisma/edge.d.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/runtime/edge-esm.js
  src/generated/prisma/runtime/edge.js
  src/generated/prisma/runtime/index-browser.d.ts
  src/generated/prisma/runtime/index-browser.js
  src/generated/prisma/runtime/library.d.ts
  src/generated/prisma/runtime/library.js
  src/generated/prisma/runtime/react-native.js
  src/generated/prisma/runtime/wasm-compiler-edge.js
  src/generated/prisma/runtime/wasm-engine-edge.js
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm-edge-light-loader.mjs
  src/generated/prisma/wasm-worker-loader.mjs
  src/generated/prisma/wasm.d.ts
  src/generated/prisma/wasm.js
  tsconfig.json
Owners: @alex-thompson, @jordan-lee, @morgan-smith, @sarah-chen, @marcus-rodriguez

🚨 EMERGENCY FIX: Dashboard API schema mismatch
  src/app/api/dashboard/route.ts
Owners: @alex-thompson, @jordan-lee

🔍 Add data diagnostic endpoint for seed data verification
  src/app/api/debug-data-counts/route.ts
Owners: @alex-thompson, @jordan-lee

🔍 Enhance debug endpoint to check V1/V2 data counts
  src/app/api/debug-database-runtime/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Dashboard API Signal relation
  src/app/api/dashboard/route.ts
Owners: @alex-thompson, @jordan-lee

🔐 FIX: Ideas component authentication
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔐 SYSTEMATIC FIX: Authentication for all page components
  src/app/inputs/page.tsx
  src/app/solutions/page.tsx
  src/components/hotspots/hotspot-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Input creation schema mismatch
  src/app/api/inputs/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 SYSTEMATIC V2 API SCHEMA FIXES
  src/app/api/hotspots/route.ts
  src/app/api/jobs/enrich-signals/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL DATA VISIBILITY FIXES
  src/app/api/inputs/route.ts
  src/app/api/votes/route.ts
Owners: @alex-thompson, @jordan-lee

🔄 COMPREHENSIVE V1/V2 MODEL MIGRATION
  src/app/api/ai/tag-suggestions/route.ts
  src/app/api/cluster/generate-hotspots/route.ts
  src/app/api/hotspots/metrics/route.ts
  src/app/api/jobs/cluster-hotspots/route.ts
  src/app/api/jobs/enrich-signals/route.ts
  src/app/api/jobs/weekly-digest/route.ts
  src/app/api/votes/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Signal API Schema Relationships
  src/app/api/inputs/route.ts
Owners: @alex-thompson, @jordan-lee

🔄 FORCE REDEPLOY: Trigger Vercel update with latest Signal API fixes
  src/app/api/inputs/route.ts
Owners: @alex-thompson, @jordan-lee

🔍 DEBUG: Add session debugging to IdeasDashboard
  src/app/api/debug-session/route.ts
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔍 ENHANCED DEBUG: Add detailed API response logging
  src/app/api/ideas/route.ts
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🎯 CREATE IDEAS SEED API: Populate database with hotspots and ideas
  scripts/seed-ideas-hotspots.js
  src/app/api/seed-ideas/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL BUILD FIXES
  src/app/api/dashboard/route.ts
  src/app/api/debug-session/route.ts
  src/app/api/monitoring/performance/route.ts
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🚨 FINAL FIX: Signal API creator → createdBy field mapping
  src/app/api/inputs/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL: Fix Vercel NEXTAUTH_URL mismatch
  scripts/fix-vercel-nextauth-url.js
  vercel.json
Owners: @alex-thompson, @jordan-lee, @jordan-kim

🚨 FIX: Dashboard null reference errors
  src/app/api/dashboard/route.ts
  src/app/dashboard/page.tsx
Owners: @alex-thompson, @jordan-lee, @sarah-chen, @marcus-rodriguez

🚨 FIX: Inputs page null reference errors
  src/app/inputs/page.tsx
Owners: @alex-thompson, @jordan-lee

🚨 PROACTIVE FIX: Solutions and FRD pages null reference errors
  src/app/frd/page.tsx
  src/app/solutions/page.tsx
Owners: @alex-thompson, @jordan-lee

🚨 V1 MODEL CLEANUP: Eliminate V1 references and data
  src/app/api/debug-data-counts/route.ts
  src/app/api/debug-database-runtime/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 FIX: Create missing input detail page and API routes
  src/app/api/inputs/[id]/comments/route.ts
  src/app/api/inputs/[id]/route.ts
  src/app/inputs/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

🚨 FIX: AI signal enrichment job - expand processing criteria
  .prettierignore
  src/app/api/jobs/enrich-signals/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL: Fix Vercel database connection and Ideas API errors
  scripts/fix-vercel-database-config.js
  src/app/api/ideas/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL DISCOVERY: Legacy Prisma Accelerate blocking all database access
  scripts/migrate-prisma-accelerate-to-vercel.js
Owners: @alex-thompson, @jordan-lee

✅ CORRECTED: Prisma Accelerate environment configuration guide
  scripts/fix-prisma-accelerate-env.js
Owners: @alex-thompson, @jordan-lee

🚨 FIX: Multiple API 500 errors - clustering, comments, field mappings
  src/app/api/cluster/generate-hotspots/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/inputs/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

🚨 FIX: Ideas 'View Details' functionality - create complete detail system
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/ideas/[id]/route.ts
  src/app/ideas/[id]/page.tsx
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🚀 RESTORE: Full functionality with Prisma Accelerate optimization
  package.json
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Prevent build-time database calls
  src/app/dashboard/page.tsx
  src/app/hotspots/page.tsx
  src/app/ideas/page.tsx
  src/app/inputs/page.tsx
  src/generated/prisma/client.d.ts
  src/generated/prisma/client.js
  src/generated/prisma/default.d.ts
  src/generated/prisma/default.js
  src/generated/prisma/edge.d.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/runtime/edge-esm.js
  src/generated/prisma/runtime/edge.js
  src/generated/prisma/runtime/index-browser.d.ts
  src/generated/prisma/runtime/index-browser.js
  src/generated/prisma/runtime/library.d.ts
  src/generated/prisma/runtime/library.js
  src/generated/prisma/runtime/react-native.js
  src/generated/prisma/runtime/wasm-compiler-edge.js
  src/generated/prisma/runtime/wasm-engine-edge.js
  src/generated/prisma/wasm-edge-light-loader.mjs
  src/generated/prisma/wasm-worker-loader.mjs
  src/generated/prisma/wasm.d.ts
  src/generated/prisma/wasm.js
Owners: @sarah-chen, @marcus-rodriguez, @alex-thompson, @jordan-lee, @morgan-smith

🚨 ADD: Prisma schema changes and regenerated client files
  prisma/schema.prisma
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/query_engine_bg.wasm
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
Owners: @morgan-smith

🚨 CRITICAL: Fix all deployment scripts for Prisma Accelerate ONLY
  scripts/deploy-vercel-prisma-postgres.js
  scripts/fix-prisma-accelerate-env.js
  scripts/vercel-preview-only-config.js
Owners: @alex-thompson, @jordan-lee

🧹 CLEANUP: Remove redundant deployment scripts - single Preview config only
  scripts/configure-preview-database.js
  scripts/deploy-vercel-prisma-postgres.js
  scripts/diagnose-vercel-branches.js
  scripts/diagnose-vercel-environment.js
  scripts/fix-vercel-database-config.js
  scripts/fix-vercel-nextauth-url.js
  scripts/migrate-prisma-accelerate-to-vercel.js
  scripts/setup-development-environment.js
  scripts/setup-multi-environment-databases.js
  scripts/setup-preview-database.js
  scripts/setup-preview-separate.js
  scripts/vercel-preview-only-config.js
  scripts/verify-vercel-environment-variables.js
Owners: @alex-thompson, @jordan-lee

🚨 EMERGENCY: Fix all DATABASE_URL references to POSTGRES_URL
  scripts/emergency-vercel-debug.js
  src/app/api/debug-data-counts/route.ts
  src/app/api/debug-database-runtime/route.ts
  src/app/api/debug-users/route.ts
  src/lib/auth.ts
Owners: @alex-thompson, @jordan-lee

🎉 CRITICAL REALIZATION: Revert to working DATABASE_URL configuration
  prisma/schema.prisma
  src/app/api/debug-data-counts/route.ts
  src/app/api/debug-database-runtime/route.ts
  src/app/api/debug-users/route.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
  src/lib/auth.ts
Owners: @morgan-smith, @alex-thompson, @jordan-lee

🎉 VERCEL PRISMA EXPERT: Final configuration with PRISMA_DATABASE_URL
  prisma/schema.prisma
  scripts/test-prisma-accelerate-direct.js
  src/app/api/debug-database-runtime/route.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
Owners: @morgan-smith, @alex-thompson, @jordan-lee

feat: Add Create Solution button to idea detail page
  src/app/ideas/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

fix: Resolve multiple critical UI and API errors
  src/app/api/hotspots/[id]/route.ts
  src/app/api/ideas/[id]/comments/route.ts
  src/app/hotspots/[id]/page.tsx
  src/app/ideas/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

.github/CODEOWNERS:

# FAEVision Code Owners

# Global owners (all files)
* @alex-thompson @jordan-lee

# Expert-specific ownership

# Database and Prisma
prisma/ @morgan-smith
src/lib/prisma.ts @morgan-smith
*.prisma @morgan-smith

# Authentication and security
src/lib/auth.ts @alex-thompson @jordan-lee
src/lib/auth-utils.ts @alex-thompson
src/middleware.ts @alex-thompson
src/app/api/auth/ @alex-thompson

# AI features and integration
src/lib/ai/ @priya-patel @jordan-lee
src/components/ai/ @priya-patel @jordan-lee

# UI and design components
src/components/ui/ @maya-rodriguez @david-chen
src/app/globals.css @david-chen @maya-rodriguez
tailwind.config.ts @david-chen

# Executive dashboard and interfaces
src/app/dashboard/ @sarah-chen @marcus-rodriguez
src/components/dashboard/ @sarah-chen @marcus-rodriguez

# Infrastructure and deployment
.github/ @taylor-morgan @jordan-kim
vercel.json @jordan-kim
.env.example @jordan-kim
dockerfile @jordan-kim

# Documentation
docs/ @jordan-lee @alex-johnson
*.md @jordan-lee

# Linear integration
.cursor/ @alex-johnson @jordan-lee
linear.json @alex-johnson
