Repository sgarretson/faevision-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel, @maya-rodriguez, @david-chen, @sarah-chen, @marcus-rodriguez, @taylor-morgan, @jordan-kim, @alex-johnson

.github/CODEOWNERS:

# FAEVision Code Owners

# Global owners (all files)
* @alex-thompson @jordan-lee

# Expert-specific ownership

# Database and Prisma
prisma/ @morgan-smith
src/lib/prisma.ts @morgan-smith
*.prisma @morgan-smith

# Authentication and security
src/lib/auth.ts @alex-thompson @jordan-lee
src/lib/auth-utils.ts @alex-thompson
src/middleware.ts @alex-thompson
src/app/api/auth/ @alex-thompson

# AI features and integration
src/lib/ai/ @priya-patel @jordan-lee
src/components/ai/ @priya-patel @jordan-lee

# UI and design components
src/components/ui/ @maya-rodriguez @david-chen
src/app/globals.css @david-chen @maya-rodriguez
tailwind.config.ts @david-chen

# Executive dashboard and interfaces
src/app/dashboard/ @sarah-chen @marcus-rodriguez
src/components/dashboard/ @sarah-chen @marcus-rodriguez

# Infrastructure and deployment
.github/ @taylor-morgan @jordan-kim
vercel.json @jordan-kim
.env.example @jordan-kim
dockerfile @jordan-kim

# Documentation
docs/ @jordan-lee @alex-johnson
*.md @jordan-lee

# Linear integration
.cursor/ @alex-johnson @jordan-lee
linear.json @alex-johnson

🎯 EXPERT TEAM SUCCESS: Comprehensive A&E Seed Data Deployed
  docs/seeding/comprehensive-ae-signals.csv
  package-lock.json
  package.json
  scripts/import-csv-signals.ts
Owners: @jordan-lee, @alex-johnson, @alex-thompson

🎯 BREAKTHROUGH: Enhanced Clustering Algorithm for Business Intelligence
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

fix(hotspots): normalize cluster payload + wire up Details link to /hotspots/[id]; prevent NaN/missing fields in UI
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): prevent skeleton when results already loaded; tighter shouldShowSkeleton guard
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): make Details button navigate to /hotspots/[id] with fallback; keep expanded view as backup
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

feat(hotspots): surface associated signals in cluster model; normalize signals list;
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): guarantee cluster.id for routing by providing temp id when backend omits; stop Details 404
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

feat(hotspots): show associated signals preview in expanded card; avoid 404 by guarding temp ids;
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): guard NaN in percent displays for business relevance/actionability
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

feat(clustering): include hotspotId in API response; wire through on client for routing;
  src/app/api/signals/clustering/generate/route.ts
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): use hotspotId from API when cluster ids are temporary; route Details reliably
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

fix(hotspots): map signals id/title correctly; clear types cache;
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

feat(inputs): auto-run AI processing for signals when insights missing; add Run AI Analysis; correct hook order/deps
  src/components/ai/ai-insights-panel.tsx
Owners: @priya-patel, @jordan-lee

feat(inputs): Add Run AI Analysis button; batch feature API; batch scripts formatted
  scripts/check-ai-processing.js
  scripts/run-batch-ai.js
  src/app/api/signals/batch-feature-generation/route.ts
  src/app/inputs/[id]/page.tsx
  src/components/ai/ai-insights-panel.tsx
Owners: @alex-thompson, @jordan-lee, @priya-patel

fix(hotspots): improve recommended actions synthesis and signal title display
  src/components/hotspots/hotspot-intelligence-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

debug: add logging to check signal titles in clustering API response
  src/app/api/signals/clustering/generate/route.ts
Owners: @alex-thompson, @jordan-lee

feat(inputs): Phase 1 bulk selection workflow
  package-lock.json
  package.json
  src/app/api/ideas/from-inputs/route.ts
  src/app/inputs/page.tsx
  src/components/inputs/bulk-action-bar.tsx
  src/components/inputs/input-selection-checkbox.tsx
  src/components/inputs/inputs-grid.tsx
  src/store/input-selection.ts
Owners: @alex-thompson, @jordan-lee

fix(api): use gpt-4o model for structured output compatibility
  src/app/api/ideas/from-inputs/route.ts
Owners: @alex-thompson, @jordan-lee

fix(api): align idea creation with actual database schema
  src/app/api/ideas/from-inputs/route.ts
Owners: @alex-thompson, @jordan-lee

fix(api): resolve hotspot foreign key constraint for bulk idea creation
  src/app/api/ideas/from-inputs/route.ts
Owners: @alex-thompson, @jordan-lee

fix(api): use correct HotspotStatus enum value for bulk hotspot
  src/app/api/ideas/from-inputs/route.ts
Owners: @alex-thompson, @jordan-lee

feat(ideas): add executive-friendly Supporting Evidence display
  src/app/ideas/[id]/page.tsx
  src/components/ideas/supporting-evidence-display.tsx
  src/store/input-selection.ts
Owners: @alex-thompson, @jordan-lee

feat(ideas): implement manual idea creation interface
  src/app/api/ideas/ai-suggestions/route.ts
  src/app/api/ideas/route.ts
  src/app/ideas/create/page.tsx
  src/components/ideas/ideas-dashboard.tsx
  src/components/ideas/manual-idea-form.tsx
Owners: @alex-thompson, @jordan-lee

feat(solutions): implement AI-powered idea-to-solution conversion
  src/app/api/solutions/from-idea/route.ts
  src/app/ideas/[id]/page.tsx
  src/components/solutions/enhanced-solution-dialog.tsx
  src/components/ui/dialog.tsx
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

feat(solutions): implement comprehensive solution detail pages
  src/app/api/solutions/[id]/comments/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/solutions/[id]/page.tsx
  src/components/ui/progress.tsx
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

fix(solutions): resolve Creator ID requirement and authentication errors
  src/app/api/solutions/route.ts
  src/components/solutions/solution-form.tsx
Owners: @alex-thompson, @jordan-lee

feat(seeding): comprehensive database seeding API endpoint
  docs/seeding/comprehensive-workflow-seeding-plan.md
  scripts/reset-and-seed-comprehensive.ts
  src/app/api/seed-comprehensive/route.ts
Owners: @jordan-lee, @alex-thompson

🔧 Emergency Fix: Resolve 33+ TypeScript compilation errors
  prisma/schema.prisma
  prisma/seed-ae-simple.ts
  scripts/complete-f5-f6-seeding.ts
  scripts/complete-preview-seeding.ts
  scripts/seed-preview-database.ts
  src/app/api/debug-database-runtime/route.ts
  src/app/api/ideas/ai-suggestions/route.ts
  src/app/api/jobs/weekly-digest/route.ts
  src/app/api/monitoring/performance/route.ts
  src/app/api/seed-ideas/route.ts
  src/app/api/solutions/[id]/comments/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/api/solutions/from-idea/route.ts
  src/app/api/solutions/route.ts
  src/app/api/solutions/solutions.disabled/route.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
  src/lib/auth.ts
Owners: @morgan-smith, @alex-thompson, @jordan-lee

✨ FAE-129: Standardize Origin & Confidence Schema - COMPLETE
  prisma/schema.prisma
  scripts/complete-f5-f6-seeding.ts
  scripts/complete-preview-seeding.ts
  scripts/seed-preview-database.ts
  src/app/api/ideas/from-inputs/route.ts
  src/app/api/solutions/from-idea/route.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index-browser.js
  src/generated/prisma/index.d.ts
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
  src/types/origin-confidence.ts
Owners: @morgan-smith, @alex-thompson, @jordan-lee

✨ FAE-130: Business Confidence Translation Layer - COMPLETE
  src/app/api/ideas/from-inputs/route.ts
  src/app/api/solutions/from-idea/route.ts
  src/app/confidence-demo/page.tsx
  src/components/executive/executive-confidence-dashboard.tsx
  src/components/mobile/mobile-confidence-card.tsx
  src/components/ui/confidence-indicator.tsx
  src/types/origin-confidence.ts
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

✨ FAE-131: End-to-End Workflow Validation - PHASE 3 IMPLEMENTATION
  src/app/api/workflow-metrics/route.ts
  src/app/confidence-demo/page.tsx
  src/app/inputs/page.tsx
  src/app/workflow-validation/page.tsx
  src/components/executive/executive-confidence-dashboard.tsx
  src/components/layout/navigation.tsx
  src/components/mobile/mobile-confidence-card.tsx
  src/components/ui/confidence-indicator.tsx
  src/types/origin-confidence.ts
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

feat(ai): Complete Phase 1 A&E Domain Classification Engine - 64.3% Accuracy
  scripts/ai-system-audit.ts
  src/app/api/ai/domain-classify/route.ts
  src/app/api/workflow-metrics/route.ts
  src/app/workflow-validation/page.tsx
  src/components/layout/navigation.tsx
  src/lib/ai/domain-classification-engine.ts
  src/lib/ai/signal-domain-integration.ts
  src/test/ai/domain-classification.test.ts
Owners: @alex-thompson, @jordan-lee, @priya-patel

feat(ai): Complete Phase 2 Multi-Dimensional Feature Engineering - 89D Vectors
  src/app/api/ai/feature-engineer/route.ts
  src/lib/ai/ai-pipeline-integration.ts
  src/lib/ai/multi-dimensional-feature-engine.ts
  src/test/ai/multi-dimensional-features.test.ts
Owners: @alex-thompson, @jordan-lee, @priya-patel

feat(ai): Complete Phase 3 Executive-Optimized Hybrid Clustering Engine
  src/app/api/ai/clustering/executive-hybrid/route.ts
  src/lib/ai/ai-pipeline-integration.ts
  src/lib/ai/executive-hybrid-clustering-engine.ts
  src/test/ai/executive-hybrid-clustering.test.ts
Owners: @alex-thompson, @jordan-lee, @priya-patel

feat(ai): Complete AI Pipeline Fix - 100% Signal Processing Achieved
  scripts/ai-pipeline-activation.ts
  scripts/complete-preview-seeding.ts
  scripts/database-verification.ts
  scripts/fix-ai-pipeline.ts
  scripts/vercel-ai-pipeline-activation.ts
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/query_engine_bg.wasm
  src/generated/prisma/wasm.js
Owners: @alex-thompson, @jordan-lee, @morgan-smith

feat: Complete F4 Tasks seed data for Solutions (FAE-139)
  scripts/add-requirements-to-solutions.ts
  scripts/complete-requirements-tasks-seed.ts
  scripts/complete-requirements-tasks-simple.ts
Owners: @alex-thompson, @jordan-lee

fix: Emergency fix for frontend-backend schema mismatch (FAE-140)
  scripts/add-requirements-to-solutions.ts
  scripts/complete-requirements-tasks-seed.ts
  scripts/complete-requirements-tasks-simple.ts
  src/app/api/hotspots/route.ts
  src/app/api/inputs/route.ts
Owners: @alex-thompson, @jordan-lee

feat: Complete schema-code restoration with full functionality (FAE-141)
  scripts/comprehensive-schema-audit.ts
  src/app/api/hotspots/route.ts
  src/app/api/inputs/route.ts
  src/lib/data-access/relationship-resolver.ts
Owners: @alex-thompson, @jordan-lee

fix: Emergency Prisma table name corrections (FAE-141 critical)
  src/app/api/ideas/route.ts
  src/app/api/signals/clustering/generate/route.ts
  src/app/api/solutions/route.ts
Owners: @alex-thompson, @jordan-lee

feat: Comprehensive API audit - 58 Prisma table name standardizations (FAE-142)
  scripts/comprehensive-api-audit.ts
  scripts/verify-complete-api-access.ts
  src/app/api/ai/generate-frd/route.ts
  src/app/api/cluster/generate-hotspots/route.ts
  src/app/api/hotspots/[id]/analyze/route.ts
  src/app/api/ideas/ai-suggestions/route.ts
  src/app/api/ideas/from-inputs/route.ts
  src/app/api/jobs/cluster-hotspots/route.ts
  src/app/api/jobs/enrich-signals/route.ts
  src/app/api/jobs/weekly-digest/route.ts
  src/app/api/monitoring/executive-performance/route.ts
  src/app/api/monitoring/performance/route.ts
  src/app/api/seed-comprehensive/route.ts
  src/app/api/signals/[id]/ai-insights/[insightId]/override/route.ts
  src/app/api/signals/[id]/ai-insights/route.ts
  src/app/api/signals/[id]/generate-features/route.ts
  src/app/api/signals/[id]/generate-tags/route.ts
  src/app/api/signals/batch-feature-generation/route.ts
  src/app/api/signals/batch-tag-generation/route.ts
  src/app/api/solutions/[id]/comments/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/api/solutions/from-cluster/route.ts
  src/app/api/solutions/from-idea/route.ts
  src/app/api/solutions/solutions.disabled/route.ts
Owners: @alex-thompson, @jordan-lee
