Repository sgarretson/faevision-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel, @maya-rodriguez, @david-chen, @sarah-chen, @marcus-rodriguez, @taylor-morgan, @jordan-kim, @alex-johnson

.github/CODEOWNERS:

# FAEVision Code Owners

# Global owners (all files)
* @alex-thompson @jordan-lee

# Expert-specific ownership

# Database and Prisma
prisma/ @morgan-smith
src/lib/prisma.ts @morgan-smith
*.prisma @morgan-smith

# Authentication and security
src/lib/auth.ts @alex-thompson @jordan-lee
src/lib/auth-utils.ts @alex-thompson
src/middleware.ts @alex-thompson
src/app/api/auth/ @alex-thompson

# AI features and integration
src/lib/ai/ @priya-patel @jordan-lee
src/components/ai/ @priya-patel @jordan-lee

# UI and design components
src/components/ui/ @maya-rodriguez @david-chen
src/app/globals.css @david-chen @maya-rodriguez
tailwind.config.ts @david-chen

# Executive dashboard and interfaces
src/app/dashboard/ @sarah-chen @marcus-rodriguez
src/components/dashboard/ @sarah-chen @marcus-rodriguez

# Infrastructure and deployment
.github/ @taylor-morgan @jordan-kim
vercel.json @jordan-kim
.env.example @jordan-kim
dockerfile @jordan-kim

# Documentation
docs/ @jordan-lee @alex-johnson
*.md @jordan-lee

# Linear integration
.cursor/ @alex-johnson @jordan-lee
linear.json @alex-johnson

🚨 EMERGENCY FIX: 44 critical API table name corrections (FAE-142)
  scripts/comprehensive-api-audit.ts
  scripts/emergency-api-fix.ts
  scripts/verify-complete-api-access.ts
  src/app/api/debug-users/route.ts
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/api/jobs/weekly-digest/route.ts
  src/app/api/monitoring/executive-performance/route.ts
  src/app/api/seed-comprehensive/route.ts
  src/app/api/setup-test-users/route.ts
  src/app/api/signals/[id]/ai-insights/[insightId]/override/route.ts
  src/app/api/test-login/route.ts
  src/app/api/votes/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Dashboard API table name corrections (FAE-143)
  src/app/api/dashboard/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 FIX: Ideas API schema alignment (FAE-143)
  scripts/emergency-api-fix.ts
  scripts/test-dashboard-metrics.ts
  scripts/test-emergency-fixes.ts
  scripts/test-ideas-api.ts
  src/app/api/ideas/route.ts
  src/app/api/seed-comprehensive/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 FIX: Solutions API schema alignment (FAE-143)
  scripts/test-solutions-api.ts
  src/app/api/solutions/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Dashboard API production schema error (FAE-143)
  src/app/api/dashboard/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 FIX: Critical dependency warning + deployment analysis tools
  scripts/comprehensive-deployment-analysis.ts
  scripts/vercel-log-monitor.ts
  src/app/api/deploy/production-readiness/route.ts
Owners: @alex-thompson, @jordan-lee

🚨 FIX: Critical Prisma relationship validation errors
  scripts/emergency-schema-fix-dashboard.ts
  scripts/emergency-schema-validation-test.ts
  src/app/api/frd/route.ts
  src/app/api/hotspots/[id]/analyze/route.ts
  src/app/api/signals/[id]/ai-insights/route.ts
  src/app/api/signals/batch-feature-generation/route.ts
  src/app/api/signals/clustering/generate/route.ts
  src/app/api/solutions/[id]/comments/route.ts
  src/app/api/solutions/[id]/route.ts
  src/lib/performance/optimization.ts
Owners: @alex-thompson, @jordan-lee

🔧 CRITICAL: Fix Prisma schema validation errors
  scripts/comprehensive-deployment-analysis.ts
  scripts/emergency-schema-validation-test.ts
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/ideas/[id]/route.ts
  src/app/api/ideas/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/api/signals/clustering/generate/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/api/solutions/from-idea/route.ts
  src/app/api/solutions/route.ts
  src/lib/performance/optimization.ts
Owners: @alex-thompson, @jordan-lee

🚨 CRITICAL FIX: Resolve systematic Prisma relationship naming errors
  src/app/api/ideas/route.ts
  src/app/api/inputs/[id]/comments/route.ts
  src/app/api/inputs/[id]/route.ts
  src/app/api/signals/clustering/generate/route.ts
  src/components/ideas/ideas-dashboard.tsx
Owners: @alex-thompson, @jordan-lee

🔧 FRONTEND FIX: Resolve Ideas page TypeError with defensive programming
  src/components/ideas/ideas-dashboard.tsx
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/query_engine_bg.js
  src/generated/prisma/query_engine_bg.wasm
  src/generated/prisma/wasm.js
Owners: @alex-thompson, @jordan-lee, @morgan-smith

🔧 API FIX: Resolve Ideas detail page 404 errors with model name corrections
  src/app/api/ideas/[id]/comments/route.ts
  src/app/api/ideas/[id]/route.ts
Owners: @alex-thompson, @jordan-lee

🔧 SCHEMA FIX: Resolve Solutions detail page Prisma validation errors
  src/app/api/hotspots/[id]/analyze/route.ts
  src/app/api/solutions/[id]/route.ts
Owners: @alex-thompson, @jordan-lee

🛡️ COMPREHENSIVE CLIENT-SIDE STABILITY FIXES - FAE-144
  src/app/ideas/[id]/page.tsx
  src/app/layout.tsx
  src/app/solutions/[id]/page.tsx
  src/components/providers/error-handler-provider.tsx
  src/components/ui/error-boundary.tsx
  src/lib/client-error-handler.ts
Owners: @alex-thompson, @jordan-lee, @maya-rodriguez, @david-chen

🔧 FIX: Ideas detail page TypeError with comprehensive icon safety - FAE-145
  src/app/ideas/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

🔧 FIX: Ideas detail page authentication + ErrorBoundary - FAE-146
  src/app/ideas/[id]/page.tsx
Owners: @alex-thompson, @jordan-lee

🔧 FIX: Ideas detail page icon access error - STATUS_CONFIG defensive programming
  src/app/ideas/[id]/page.tsx
  src/components/ideas/idea-approval.tsx
Owners: @alex-thompson, @jordan-lee
