Repository sgarretson/faevision-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alex-thompson, @jordan-lee, @morgan-smith, @priya-patel, @maya-rodriguez, @david-chen, @sarah-chen, @marcus-rodriguez, @taylor-morgan, @jordan-kim, @alex-johnson

feat(ci-cd): restore complete GitHub Actions workflow automation
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/linear-integration.yml
  .github/workflows/quality-check.yml
Owners: @taylor-morgan, @jordan-kim

fix(ci-cd): resolve GitHub Actions deployment failures
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/linear-integration.yml
  .github/workflows/quality-check.yml
Owners: @taylor-morgan, @jordan-kim

fix(config): add missing ESLint configuration
  .eslintrc.json
Owners: @alex-thompson, @jordan-lee

fix(testing): resolve Vitest configuration and create minimal test setup
  src/test/example.test.ts
  src/test/setup.ts
  vitest.config.ts
Owners: @alex-thompson, @jordan-lee

feat(mvp-cicd): implement right-sized MVP deployment strategy
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  .github/workflows/quality-check.yml
  docs/architecture/MVP-to-Scale-CI-CD-Roadmap.md
Owners: @taylor-morgan, @jordan-kim, @jordan-lee

docs(deployment): add Vercel-native deployment architecture documentation
  docs/deployment/FAEVision-Deployment-Architecture.md
Owners: @jordan-lee

test(deployment): verify Vercel-GitHub integration after repository fix
  README.md
Owners: @jordan-lee

feat(multi-env): add comprehensive multi-environment database setup
  package.json
  prisma/seed.js
  scripts/setup-multi-environment-databases.js
Owners: @alex-thompson, @jordan-lee, @morgan-smith

feat(preview): configure preview environment database setup
  scripts/configure-preview-database.js
Owners: @alex-thompson, @jordan-lee

feat(development): complete development environment database setup
  scripts/setup-development-environment.js
  scripts/setup-preview-separate.js
Owners: @alex-thompson, @jordan-lee

feat(vercel): complete Vercel environment variables audit and configuration
  docs/deployment/Vercel-Environment-Variables-Setup-Guide.md
  scripts/verify-vercel-environment-variables.js
Owners: @jordan-lee, @alex-thompson

docs(vercel): complete Vercel environment variables verification and configuration guide
  docs/deployment/Vercel-Environment-Variables-Configuration.md
  docs/deployment/Vercel-Environment-Variables-Setup-Guide.md
  scripts/verify-vercel-environment-variables.js
Owners: @jordan-lee, @alex-thompson

feat(testing): add comprehensive environment variables testing script
  scripts/test-environment-variables.js
Owners: @alex-thompson, @jordan-lee

fix: add frame-src to CSP for Vercel live features
  vercel.json
Owners: @jordan-kim

fix: correct @apply directives to use valid Tailwind classes
  src/app/globals.css
Owners: @david-chen, @maya-rodriguez

fix: replace all @apply directives with pure CSS to resolve Tailwind compilation issues
  src/app/globals.css
Owners: @david-chen, @maya-rodriguez

fix: replace conflicting custom/utility classes with pure Tailwind utilities
  src/app/page.tsx
Owners: @alex-thompson, @jordan-lee

fix: resolve Tailwind compilation and class conflicts across login components
  .pre-commit-config.yaml
  .prettierrc
  docs/development/github-mcp-setup.md
  docs/development/macos-setup-guide.md
  docs/integrations/github-mcp-config.json
  docs/integrations/github-mcp-setup.md
  env.production.example
  postcss.config.js
  scripts/diagnose-vercel-branches.js
  scripts/diagnose-vercel-environment.js
  scripts/production-environment-setup.md
  setup-production-database.md
  src/app/(auth)/login/page.tsx
  src/components/auth/login-form.tsx
Owners: @alex-thompson, @jordan-lee, @alex-johnson

fix: complete application-wide custom class elimination
  src/app/(auth)/signup/page.tsx
  src/app/page.tsx
  src/components/auth/signup-form.tsx
Owners: @alex-thompson, @jordan-lee

fix: correct seeding script field names for passwordHash
  prisma/seed.js
Owners: @morgan-smith

feat: add debug endpoint to check Preview environment variables
  src/app/api/debug-env/route.ts
  test-preview-db-connection.js
Owners: @alex-thompson, @jordan-lee

debug: add comprehensive auth debugging and test endpoint
  src/app/api/test-auth/route.ts
  src/lib/auth.ts
  test-preview-db-connection.js
Owners: @alex-thompson, @jordan-lee

critical: add Auth.js environment debugging and validation
  src/app/api/debug-env/route.ts
  src/lib/auth.ts
Owners: @alex-thompson, @jordan-lee

fix: update debug endpoints for Vercel Preview environment
  src/app/api/debug-env/route.ts
  src/app/api/test-auth/route.ts
Owners: @alex-thompson, @jordan-lee

fix: correct Auth.js logger callback signatures
  src/lib/auth.ts
Owners: @alex-thompson, @jordan-lee

fix: add GET method to test-auth endpoint
  src/app/api/test-auth/route.ts
Owners: @alex-thompson, @jordan-lee

emergency: add runtime database debugging endpoint
  scripts/emergency-database-investigation.js
  scripts/seed-preview-users.js
  src/app/api/debug-database-runtime/route.ts
Owners: @alex-thompson, @jordan-lee

emergency: enhance existing debug-env endpoint with database check
  src/app/api/debug-env/route.ts
Owners: @alex-thompson, @jordan-lee

critical: fix Prisma client for serverless environment
  src/lib/prisma.ts
Owners: @morgan-smith

fix: resolve Vercel build failure and optimize for serverless
  src/app/api/debug-env/route.ts
  src/lib/prisma.ts
Owners: @alex-thompson, @jordan-lee, @morgan-smith

critical: fix Auth.js Prisma client for serverless environment
  scripts/emergency-runtime-database-test.js
  src/lib/auth.ts
Owners: @alex-thompson, @jordan-lee

emergency: add comprehensive debugging and clean Preview configuration
  docs/deployment/EMERGENCY-Preview-Only-Configuration.md
  scripts/emergency-reseed-preview.js
  src/app/api/debug-actual-db/route.ts
Owners: @jordan-lee, @alex-thompson

feat: Phase 1 Vercel Prisma Postgres Migration
  docs/migration/Linear-Migration-Tasks.md
  docs/migration/Vercel-Prisma-Postgres-Migration-Plan.md
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/app/inputs/create/page.tsx
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/package.json
  src/generated/prisma/schema.prisma
  src/generated/prisma/wasm.js
  src/lib/auth.ts
  src/lib/prisma.ts
Owners: @jordan-lee, @alex-thompson, @morgan-smith

feat: Complete Phase 1 Vercel Prisma Postgres Migration
  docs/linear/FAE-300-Epic-Vercel-Prisma-Postgres-Migration.md
  package-lock.json
  package.json
  scripts/deploy-vercel-prisma-postgres.js
  src/generated/prisma/edge.js
  src/generated/prisma/index.js
  src/generated/prisma/wasm.js
Owners: @jordan-lee, @alex-thompson, @morgan-smith

fix: Resolve TypeScript error in AI tag suggestions
  src/app/api/ai/tag-suggestions/route.ts
Owners: @alex-thompson, @jordan-lee

feat: Phase 2 Legacy Cleanup Complete - FAE-307
  docs/deployment/EMERGENCY-Preview-Only-Configuration.md
  docs/deployment/Vercel-Prisma-Postgres-Configuration.md
  package.json
  prisma/seed.js
  scripts/emergency-database-investigation.js
  scripts/emergency-reseed-preview.js
  scripts/emergency-runtime-database-test.js
  src/app/api/debug-actual-db/route.ts
  src/app/api/debug-env/route.ts
  src/app/api/test-auth/route.ts
Owners: @jordan-lee, @alex-thompson, @morgan-smith

docs: Complete FAEVision Tech Stack Documentation
  docs/architecture/FAEVision-Complete-Tech-Stack-Summary.md
  docs/architecture/Technical-Dependencies-Matrix.md
  package.json
Owners: @jordan-lee, @alex-thompson

feat: FAEVision V2 - Complete Expert Team Analysis & Migration Plan
  docs/analysis/FAEVision-V2-Expert-Team-Analysis.md
  docs/migration/V2-Technical-Migration-Plan.md
  faevision_v2
Owners: @jordan-lee, @alex-thompson

feat: Expert Team Re-Analysis - Simplified V2 MVP Approach
  PHQ Vision Input Standard.md
  docs/analysis/Expert-Team-Re-Analysis-Final.md
  docs/seed-data/A&E-Firm-Seed-Data-Specification.md
Owners: @jordan-lee

feat: Sprint 1 Development - Enhanced Signal Model + A&E Seed Data
  docs/project-management/Linear-Project-Summary.md
  docs/project-management/V2-MVP-Sprint-Schedule.md
  packages/database/prisma/schema.prisma
  prisma/schema.prisma
  scripts/create-v2-seed-data.ts
Owners: @jordan-lee, @morgan-smith, @alex-thompson

.github/CODEOWNERS:

# FAEVision Code Owners

# Global owners (all files)
* @alex-thompson @jordan-lee

# Expert-specific ownership

# Database and Prisma
prisma/ @morgan-smith
src/lib/prisma.ts @morgan-smith
*.prisma @morgan-smith

# Authentication and security
src/lib/auth.ts @alex-thompson @jordan-lee
src/lib/auth-utils.ts @alex-thompson
src/middleware.ts @alex-thompson
src/app/api/auth/ @alex-thompson

# AI features and integration
src/lib/ai/ @priya-patel @jordan-lee
src/components/ai/ @priya-patel @jordan-lee

# UI and design components
src/components/ui/ @maya-rodriguez @david-chen
src/app/globals.css @david-chen @maya-rodriguez
tailwind.config.ts @david-chen

# Executive dashboard and interfaces
src/app/dashboard/ @sarah-chen @marcus-rodriguez
src/components/dashboard/ @sarah-chen @marcus-rodriguez

# Infrastructure and deployment
.github/ @taylor-morgan @jordan-kim
vercel.json @jordan-kim
.env.example @jordan-kim
dockerfile @jordan-kim

# Documentation
docs/ @jordan-lee @alex-johnson
*.md @jordan-lee

# Linear integration
.cursor/ @alex-johnson @jordan-lee
linear.json @alex-johnson
